html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

body,
html {
    color: #777;
}

/* navbtn */
nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color 0.4s ease-in-out;
}

nav.scrolled {
    /* transform: translateY(-50px); */
    background-color: #fefefe;
    opacity: 0.98;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: up-to-down 0.4s ease-in-out;
}

@keyframes up-to-down {
    50% {
        transform: translateY(-100px);
    }
}

nav .nav_list {
    display: flex;
    justify-content: space-around;
}

nav .nav_list li {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav .nav_list li a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    color: #777;
    padding: 10px 20px;
    img {
        width: 20px;
        margin-right: 5px;
    }
}

nav .nav_list li a:hover {
    background: rgb(184, 183, 183);
    color: black;
}

#sideNav {
    width: 150px;
    height: 23.4%;
    position: fixed;
    right: -250px;
    top: 10px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
    transition: 0.000000001s;
}

#sideNav.active {
    display: flex;
    right: 1px;
    width: 100%;
    margin-top: 30px;
    transition: 0.000000001s;
}

.side_nav_list li {
    display: flex;
    list-style-type: none;
    align-items: left;
}

.side_nav_list li a {
    display: flex;
    padding: 15px 75vw;
    padding-left: 20px;
    text-decoration: none;
    justify-content: flex-start;
    color: black;
    font-size: 16px;
}

.side_nav_list li a:hover {
    background: rgb(184, 183, 183);
    color: black;
}

#menuBtn {
    width: 40px;
    height: 40px;
    text-align: center;
    position: fixed;
    right: 0;
    top: 1px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img {
    position: absolute;
    width: 10px;
    margin-top: 12px;
}

.home-btn {
    position: fixed;
    top: 0;
    left: 0;
}

.home-btn a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    padding: 10px 20px;
}

.home-btn:hover {
    top: 0;
    background: lightgray;
}

#sideNav,
#nav_bar,
#menuBtn,
.side_nav_list,
.home-btn {
    &#menuBtn {
        display: none;
    }

    &#sideNav {
        display: none;
    }

    &.side_nav_list {
        display: none;
    }

    &.home-btn {
        display: none;
    }

    @media only screen and (max-width: 450px) {
        &.home-btn {
            display: inline-block;
        }

        &#sideNav {
            display: inline-block;
        }

        &#menuBtn {
            display: inline-block;
        }

        &.side_nav_list {
            display: inline-block;
        }

        &#nav_bar {
            display: none;
        }
    }
}

#home,
#about,
#port_intro,
#contact_bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* home section */
#home {
    display: flex;
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(#00000000, #0000005e, #0000005e), url('./images/parallax1.jpg');
    height: 100vh;
}

#home-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin-top: 4vh;
    color: #fff;

    h1 {
        font-family: "Lato", sans-serif;
        background: black;
        color: #fff;
        padding: 10px 30px;
        font-weight: normal;
        letter-spacing: 10px;
    }

    span {
        color: #fff;
        padding: 15px;
        letter-spacing: 10px;
    }
}

#home,
#home-text,
.span-web,
#about_info-text {
    @media only screen and (max-width: 769px) {
        &.span-web {
            display: none;
        }

        &#about_info-text {
            display: none;
        }
    }
}

@media screen and (max-width: 600px) {
    #home {
        display: flex;
        text-align: center;
        justify-content: center;
        background-image: linear-gradient(#00000000, #0000005e, #0000005e), url('./images/parallax1.jpg');
        background-size: fit-content;
        height: 90vh;
        width: 100vw;
    }

}

/* about section */
#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin-top: 110px;
}

#about-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#about_header h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: normal;
}

#about_header h6 {
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: normal;
}

#about_text {
    display: flex;
    text-align: left;
    font-size: 15px;
    line-height: 30px;
}

#about-dtls {
    display: flex;
    justify-content: center;
}

#about_info {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    align-items: center;
    width: 55%;
    /* gap: 10px; */
}

#about_info-dtls {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40%;
    h6{
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 20px;
            margin-right: 5px;
        }
    }
}

#overlay {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 10%;
    /* width: 100%; */
}

#overlay .imag {
    width: 100%;
    height: 28vh;
    margin-top: 50px;
    background-image: linear-gradient(#00000000, #0000005e, #0000005e), url('./images/avatar_hat.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), #0000005e), url('./images/avatar_hat.jpg'); */
}

#overlay:hover .imag {
    background-image: url('./images/avatar_hat.jpg');
}

/* .overlay {
    width: 420px;
    height: 282px;
    position: absolute;
    top: 148%;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #0000005e);
    opacity: 0;
    transition: 1s;
}

#about_info-dtls:hover .overlay {
    opacity: 1;
} */
#about_info-text {
    display: flex;
    text-align: left;
    width: 45%;
    font-size: 15px;
    line-height: 30px;
}

#about-skill {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
}

#about-skill-dtls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 54%;
}

.intro {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

#skill_bar {
    width: 90%;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 15px;
    text-align: left;
    margin-bottom: 40px;

    P {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        img {
            width: 16px;
            margin-right: 15px;
        }
    }
}


.load_bar,
.inner-bar_1,
.inner-bar_2,
.inner-bar_3 {
    background: #d7d5d5;
    height: 40px;
    max-width: 100%;
    justify-content: center;
    align-items: center;

    .inner-bar_1 {
        background: #777;
        max-width: 90%;
    }

    .inner-bar_2 {
        background: #777;
        max-width: 85%;
    }

    .inner-bar_3 {
        background: #777;
        max-width: 75%;
    }

    .bar-text {
        display: flex;
        color: #fff;
        justify-content: center;
        padding-top: 1.5%;
        font-weight: normal;
        letter-spacing: 0;
        font-size: 16px;
    }
}

@media screen and (max-width: 769px) {
    #about-info {
        display: flex;
        justify-content: center;
        width: 90%;
    }

    #about_text {
        display: flex;
        text-align: left;
        line-height: 25px;
        /* margin: 0 15px; */
    }

    #about_info-dtls {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 60vw;
        /* background-color: red; */
    }

    #overlay {
        display: block;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 80vw;
    }

    #overlay .imag {
        min-width: 100%;
        height: 28vh;
        margin-top: 50px;
        background-image: linear-gradient(#00000000, #0000005e, #0000005e), url('./images/avatar_hat.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    #overlay:hover .imag {
        background-image: url('./images/avatar_hat.jpg');
    }

    #about-skill {
        margin-top: 70px;
    }

    #about-skill-dtls {
        width: 100%;
    }

    .load_bar,
    .inner-bar_1,
    .inner-bar_2,
    .inner-bar_3 {
        height: 30px;

        .bar-text {
            padding-top: 3%;
        }
    }

}


/* Portfolio */
#port_intro {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    background-image: linear-gradient(#00000000, #0000005e, #0000005e), url('./images/parallax2.jpg');
    height: 60vh;

    p,
    h1 {
        font-weight: normal;
        letter-spacing: 5px;
        color: #ded9d9;

        span {
            display: flex;
            flex-wrap: wrap;
            color: #ded9d9;
            letter-spacing: 1px;
        }
    }
}

#port-bar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#bar_cnt {
    display: flex;
    width: 100%;
    height: 25%;
    align-items: center;
    justify-content: space-around;
    background: #333;

    p {
        font-size: 20px;
        letter-spacing: 1px;

        span {
            display: block;
            font-size: 13px;
            margin-top: 10px;
        }
    }
}

#port_intro .port_header {
    display: flex;
    width: 100%;
    font-size: 20px;
    justify-content: center;
}

#portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#work_dtls {
    display: flex;
    flex-wrap: wrap;
    color: black;
    justify-content: center;
    font-weight: normal;
    margin: 60px 0 20px 0;

    h1 {
        text-align: center;
        width: 100%;
        font-weight: normal;
        font-size: 20px;
        letter-spacing: 4px;
    }

    h2 {
        text-align: center;
        width: 100%;
        font-weight: normal;
        font-size: 16px;
        font-family: 'lato', sans-serif;
        margin: 30px 0 9px 0;
    }
}

#my_coln {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#my_coln div {
    display: flex;
    justify-content: center;
}

.animal-coln,
.animal-coln_2 {
    width: 60%;
}

.animal-coln img,
.animal-coln_2 img {
    width: 200px;
    margin: 10px 10px;
    cursor: pointer;
}
.overlay {
    width: 200px;
    margin: 10px 10px;
    position: absolute;
}
.animal-coln .overlay:hover,
.animal-coln_2 img {
    background: red;
}
#opt_btn {
    display: flex;
    margin: 50px 0;
    justify-content: center;
    text-align: center;
    background: #efeded;
    padding: 15px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#opt_btn:hover {
    background: rgb(198, 198, 198);
    transition: 0.2s;
}

@media only screen and (max-width: 600px) {
    #port_intro {
        display: flex;
        text-align: center;
        justify-content: center;
        /* margin-top: 50px; */
        background-image: linear-gradient(#00000000, #0000005e, #0000005e), url('./images/parallax2.jpg');
        background-size: cover;
        height: 75vh;
    }

    #bar_cnt {
        display: flex;
        flex-wrap: wrap;
        padding: 0 100px;
        height: 50vh;

        div {
            margin: 0 20px;
        }
    }

    #work_dtls h2 {
        width: 90%;
        line-height: 30px;
        margin-bottom: 5px;
    }

    .animal-coln,
    .animal-coln_2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .animal-coln_2 {
        margin: 20px 0 0 0;
    }

    .animal-coln div,
    .animal-coln_2 div {
        margin: 0 0;

        img {
            min-width: 250px;
            margin: 0 0;
        }
    }
}

@media only screen and (max-width: 778px) {
    #my_coln {
        display: flex;
        width: 100%;
    }

    .animal-coln img,
    .animal-coln_2 img {
        display: flex;
        width: 22vw;
        margin: 8px 8px;
    }

}

/* Contact */
#cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

#contact_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#00000000, #0000005e, #0000005e), url('./images/parallax3.jpg');
    height: 40vh;
    width: 100%;

    h1 {
        font-weight: normal;
        letter-spacing: 5px;
        color: #ded9d9;
    }
}

#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#contact-header {
    width: 100%;
    justify-content: center;
    color: black;
    margin-top: 50px;
    /* margin-bottom: 500px; */
    text-align: center;

    h1 {
        font-weight: normal;
        letter-spacing: 5px;
    }

    p {
        margin-top: 30px;
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace;
    }
}

#contact-start {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 80%;
    margin: 40px 0 0 0;
}

#contact-map {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    width: 20%;
    height: 20%;
}

#contact-review {
    justify-content: center;
    width: 50%;
}

.contact-info {
    p {
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 15px 0;
        font-size: 19px;

        img {
            width: 30px;
            margin-right: 15px;
        }
    }

    h1 {
        display: block;
        align-items: center;
        font-weight: normal;
        font-size: 16px;
        margin-top: 50px;
        img {
            width: 16px;
            margin: 0 0;
        }
    }
}

#contact-map img {
    width: 100%;
}

.contact-form form {
    /* CONTINUE HERE */
    max-width: 100%;
    /* background-color: brown; */
    /* height: 300px;Leave a comment for us */

    div {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
        margin: 12px 0;
        width: 100%;

        input {
            width: 100%;
            padding: 10px;
            font-size: 1rem;
            border: 1px solid grey;
        }
    }

}

.textarea {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    textarea {
        width: 100%;
        padding: 20px 5px;
        align-items: center;

    }

    button[type="submit"] {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: #fff;
        cursor: pointer;
        font-weight: normal;
        font-family: "Lato" sans-serif;
        letter-spacing: 1px;
        padding: .5rem 1rem;
        font-weight: bold;
        font-size: 1.1rem;
        margin-top: 1rem;
        img {
            width: 20px;
        }
    }

    button[type="submit"]:hover {
        background-color: lightgray;
        color: #333;
        border: lightgray;
    }
}

@media screen and (max-width: 600px) {
    #contact-map {
        width: 95%;
    }

    #contact-review {
        width: 90%;
    }

    .contact-info {
        p {
            display: flex;
            align-items: center;
            gap: 5px;
            margin: 15px 0;
            font-size: 19px;

            img {
                width: 30px;
                margin-right: 5px;
            }
        }
    }

    .contact-info {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        p {
            font-size: 16px;
            margin: 5px 0;
        }

        h1 {
            margin-top: 20px;
        }
    }

    .contact-form form div {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 0;
    }
}

/* Footer */
#footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #646363;
    color: #fff;
    padding: 60px 0 85px 0;
    margin-top: 150px;
}
#footer:hover{
    background: black;
}
#footer h1{
    display: flex;
    justify-content: center;
    margin: 0 0 5px 0;
    width: 100%;
}
#footer h1 a{
    text-decoration: none;
    font-weight: normal;
    font-size: 17px;
    color: #333;
    background:white;
    padding:13px 25px;
}
#footer h1 a:hover{
    background:lightgray;
}

#footer_img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0 40px 0;
    gap: 5px;
}
#footer_img img{
    width: 25px;
    cursor: pointer;
}
#footer p{
    font-size: 14px;
    a{
        color: #fff;
        cursor: pointer;
        text-decoration: underline;
    }
}

#footer p a:hover{
    color: #089ea3;
}